$font-size-base: 10px;

/* General styles */
$font-size-text: 1.6rem;
$font-size-bubble: 1rem;
$line-height-bubble: 1.5rem;

/* Navigation */
$font-size-nav: 3.5rem;
$line-height-nav: 4rem;
$nav-icon-size: 6rem;

/* Colors */
$color-brand: #ff9900;
$color-text-bright: #ffffff;
$color-bubble-bg: #009900;
$color-bubble-text: #ffffff;
$color-highlight-bright: #dddddd;